body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #map-title {
    position: relative;
    margin-top: 1vw;
    margin-left: 10vw;
    float: left;
    background: rgba(255,255,255,0.6);
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 6px 8px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.3rem;
    z-index: 800;
  }